/* Main Style Definitions */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  margin: 0;
}

main {
  display: flex;
  flex: 1;
}

footer {
  background-color: #ff8100;
  color: #fff;
}

#main-header {
  background-color: #ff8100;
}

#main-header h1 {
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  letter-spacing: .25em;
}

#sidebar {
  width: 225px;
  flex: 0 0 12em;
  background-color: #413C41;
}

#sidebar ul {
  padding: 0;
  list-style-type: none;
}

#sidebar ul li {
  color: #eee;
  padding: 0 0 10px 20px;
}

#sidebar ui li:hover {
  cursor: pointer;
  background-color: #32373c;
}
#post-container {
  flex: 1;
  background-color: #eee;
  padding: 20px;
}

#intro {
  display: none;
}



blockquote {
  font-style: italic;
  margin: 1em 1em 1em 0;
}

blockquote::before,
blockquote::after {
  content: "";
}

.author {
  width: 100%;
  display: inline-block;
  text-indent: 5%;
}

.author::before {
  content: "-";
}

footer {
  text-align: center;
}
