body {
  background-color: #FFCC75;
  padding: 20px;}
h1 {
  background-color: #A8EA47;
  font-size: 250%;
  text-align: center;
  width: 300px;}
h2 {
  background-color: #8DCF5E;
  font-style: italic;
  text-align: center;
  width: 12.5%;}
#messages {
  background-color: white;
  width: 288px;
  border: 5px black;
  border-radius: 5px;
  padding: 5px;}
.out-message {
  color: red;
  text-align: left;}
.in-message {
  color: blue;
  text-align: right;}
button {
  border-radius: 5px;}
#send-button {
  background-color: #4EF045;}
#reply-button {
  background-color: #128FEF;}
input {
  border-radius: 5px;
  background-color: #ADF9A4;}
